@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.loading {
    animation: load 1.5s infinite;
}

@keyframes load {
    from {margin-left: -100%;}
    to {margin-left: 100%;}
}